In [4]:
import pandas as pd
df = pd.read_csv("D:/dashboard/dashboard_project_full_data/dashboard_project_python_only/all_data/client_stock_data.csv")

In [5]:
df

,Person,Stock,Nse code,Buy Price,Quantity,Current Price,Invested,Target Price
0,Dipak,ANGELONE,NaN,2525.53,11,3800,0,4000
1,Dipak,ASIANPAINT,NaN,2377.66,16,1500,0,1600
2,Dipak,AXISBANK,NaN,1072.99,0,330,0,380
3,Dipak,BAJAJ-AUTO,NaN,8246.83,0,650,0,700
4,Dipak,BAJAJFINSV,NaN,1600.00,0,900,0,950
5,Dipak,BAJAJHFL,NaN,115.68,0,2400,0,2700
6,Dipak,BERGERPAINT,NaN,2300.00,0,2200,0,2600
7,Dipak,BSE,NaN,900.00,0,880,0,1000
8,Dipak,CAMS,NaN,1150.00,0,1300,0,1450
9,Dipak,CANBK,NaN,180.00,0,200,0,240
10,Dipak,CIPLA,NaN,750.00,0,800,0,900
11,Dipak,COALINDIA,NaN,280.00,0,300,0,350
12,Dipak,ETERNAL,NaN,9500.00,0,9800,0,10500
13,Dipak,GNFC,NaN,7200.00,0,7500,0,8200
14,Dipak,GPIL,NaN,21000.00,0,22500,0,24000
15,Dipak,HCLTECH,NaN,2600.00,0,2500,0,3000
16,Dipak,HDFC,NaN,1072.99,0,1750,0,1900
17,Dipak,HEROMOTOCO,NaN,1500.00,0,1600,0,1800
18,Dipak,ICICBANK,NaN,220.00,0,210,0,260
19,Dipak,IDEA,NaN,2400.00,0,2450,0,2600
20,Dipak,INDUSBANK,NaN,1700.00,0,1650,0,2000
21,Dipak,INFY,NaN,4300.00,0,4700,0,5200
22,Dipak,IRCTC,NaN,850.00,0,900,0,1000
23,Dipak,JIOFIN,NaN,850.00,0,900,0,1000
24,Dipak,JSWINFRA,NaN,850.00,0,900,0,1000
25,Dipak,JSWSTEEL,NaN,850.00,0,900,0,1000
26,Dipak,MARUTI,NaN,850.00,0,900,0,1000
27,Dipak,MOTILAL,NaN,850.00,0,900,0,1000
28,Dipak,NIFTYBEES,NaN,850.00,0,900,0,1000
29,Dipak,RELIANCE,NaN,2200.00,0,2100,0,2500
30,Dipak,WIPRO,NaN,420.00,0,450,0,500

In [6]:
df_all = pd.read_csv(r"C:\Users\deepa\Downloads\query-results (5).csv")

In [ ]:
merged_df = pd.merge(
    df,
   df_all,
    left_on='Nse code',
    right_on='symbol',
    how='left'
)