In [11]:
import pandas as pd
url = "https://economictimes.indiatimes.com/markets/fii-dii-activity"
tables = pd.read_html(url)
df = pd.concat([tables[3], tables[4]], axis=1).dropna(axis=1, how='all').reset_index(drop=True)
df

,Date,Nifty Closing,Nifty Closing.1,FII Cash (Cr.),DII Cash (Cr.),FII Index Future (Cr.),FII Index Option (Cr.),FII Stock Future (Cr.),FII Stock Option (Cr.)
0,23 Oct,25891.40,(0.09%),-1165.94,3893.73,4652,8451,8140,1641
1,21 Oct,25868.60,(0.10%),96.72,-607.01,57,-4076,427,-123
2,20 Oct,25843.15,(0.52%),790.45,2485.46,1029,5545,2787,-558
3,17 Oct,25709.85,(0.49%),308.98,1526.61,3991,-2983,-251,475
4,16 Oct,25585.30,(1.03%),997.29,4076.20,5067,23618,463,239
5,15 Oct,25323.55,(0.71%),68.64,4650.08,1008,-1022,1434,168
6,14 Oct,25145.50,(-0.32%),-1508.53,3661.13,-1651,23084,-3887,86
7,13 Oct,25227.35,(-0.23%),-240.10,2333.42,-836,-1539,-2502,182
8,10 Oct,25285.35,(0.41%),459.20,1707.83,859,9977,1788,292
9,09 Oct,25181.80,(0.54%),1308.16,864.36,545,-258,1452,571
10,08 Oct,25046.15,(-0.25%),81.28,329.96,175,1088,-2439,78
11,07 Oct,25108.30,(0.12%),1440.66,452.57,1549,16170,-1568,-182
12,06 Oct,25077.65,(0.74%),-313.77,5036.39,-1503,3821,-366,274
13,03 Oct,24894.25,(0.23%),-1583.37,489.76,-2353,3664,-2315,-216
14,01 Oct,24836.30,(0.92%),-1605.20,2916.14,-128,10738,-308,155
15,30 Sep,24611.10,(-0.10%),-2327.09,5761.63,-2717,15911,655,-388
16,29 Sep,24634.90,(-0.08%),-2831.59,3845.87,-528,3170,3883,-3055
17,26 Sep,24654.70,(-0.95%),-5687.58,5843.21,-3589,6773,-1141,424
18,25 Sep,24890.85,(0.00%),-4995.42,5103.01,-510,5557,-223,1263
19,24 Sep,24890.85,(-1.11%),-2425.75,1211.68,-597,-3610,-473,409
20,23 Sep,25169.50,(-0.13%),-3551.19,2670.87,406,8105,787,498
21,22 Sep,25202.35,(-0.49%),-2910.09,2582.63,475,-9541,-628,245
22,19 Sep,25327.05,(-0.38%),390.74,2105.22,-604,2653,-659,-448
23,18 Sep,25423.60,(0.37%),366.69,3326.56,1347,10800,222,495
24,17 Sep,25330.25,(0.36%),-1124.54,2293.53,1708,-3533,-401,-30
25,16 Sep,25239.10,(0.68%),308.32,1518.73,2206,42520,797,-116
26,15 Sep,25069.20,(-0.18%),-1268.59,1933.33,223,-4430,-1662,-175
27,12 Sep,25114.00,(0.43%),129.58,1556.02,1978,8574,1060,-118

In [50]:
import sys, subprocess

subprocess.check_call([sys.executable, "-m", "pip", "install", "--upgrade", "fastapi", "uvicorn"])

0

In [38]:
url = "https://economictimes.indiatimes.com/markets/fii-dii-activity/fii-cash"
tables = pd.read_html(url)

In [46]:
tables[4]

IndexError: list index out of range

IndexError: list index out of range

In [28]:
tables[4]

,FII Cash (Cr.),FII Cash (Cr.).1,DII Cash (Cr.),DII Cash (Cr.).1,FII Index Future (Cr.),FII Index Future (Cr.).1,FII Index Option (Cr.),FII Index Option (Cr.).1,FII Stock Future (Cr.),FII Stock Future (Cr.).1,FII Stock Option (Cr.),FII Stock Option (Cr.).1,Unnamed: 12
0,96.72,NaN,-607.01,NaN,57,NaN,-4076,NaN,427,NaN,-123,NaN,NaN
1,790.45,NaN,2485.46,NaN,1029,NaN,5545,NaN,2787,NaN,-558,NaN,NaN
2,308.98,NaN,1526.61,NaN,3991,NaN,-2983,NaN,-251,NaN,475,NaN,NaN
3,997.29,NaN,4076.20,NaN,5067,NaN,23618,NaN,463,NaN,239,NaN,NaN
4,68.64,NaN,4650.08,NaN,1008,NaN,-1022,NaN,1434,NaN,168,NaN,NaN
5,-1508.53,NaN,3661.13,NaN,-1651,NaN,23084,NaN,-3887,NaN,86,NaN,NaN
6,-240.10,NaN,2333.42,NaN,-836,NaN,-1539,NaN,-2502,NaN,182,NaN,NaN
7,459.20,NaN,1707.83,NaN,859,NaN,9977,NaN,1788,NaN,292,NaN,NaN
8,1308.16,NaN,864.36,NaN,545,NaN,-258,NaN,1452,NaN,571,NaN,NaN
9,81.28,NaN,329.96,NaN,175,NaN,1088,NaN,-2439,NaN,78,NaN,NaN
10,1440.66,NaN,452.57,NaN,1549,NaN,16170,NaN,-1568,NaN,-182,NaN,NaN
11,-313.77,NaN,5036.39,NaN,-1503,NaN,3821,NaN,-366,NaN,274,NaN,NaN
12,-1583.37,NaN,489.76,NaN,-2353,NaN,3664,NaN,-2315,NaN,-216,NaN,NaN
13,-1605.20,NaN,2916.14,NaN,-128,NaN,10738,NaN,-308,NaN,155,NaN,NaN
14,-2327.09,NaN,5761.63,NaN,-2717,NaN,15911,NaN,655,NaN,-388,NaN,NaN
15,-2831.59,NaN,3845.87,NaN,-528,NaN,3170,NaN,3883,NaN,-3055,NaN,NaN
16,-5687.58,NaN,5843.21,NaN,-3589,NaN,6773,NaN,-1141,NaN,424,NaN,NaN
17,-4995.42,NaN,5103.01,NaN,-510,NaN,5557,NaN,-223,NaN,1263,NaN,NaN
18,-2425.75,NaN,1211.68,NaN,-597,NaN,-3610,NaN,-473,NaN,409,NaN,NaN
19,-3551.19,NaN,2670.87,NaN,406,NaN,8105,NaN,787,NaN,498,NaN,NaN
20,-2910.09,NaN,2582.63,NaN,475,NaN,-9541,NaN,-628,NaN,245,NaN,NaN
21,390.74,NaN,2105.22,NaN,-604,NaN,2653,NaN,-659,NaN,-448,NaN,NaN
22,366.69,NaN,3326.56,NaN,1347,NaN,10800,NaN,222,NaN,495,NaN,NaN
23,-1124.54,NaN,2293.53,NaN,1708,NaN,-3533,NaN,-401,NaN,-30,NaN,NaN
24,308.32,NaN,1518.73,NaN,2206,NaN,42520,NaN,797,NaN,-116,NaN,NaN
25,-1268.59,NaN,1933.33,NaN,223,NaN,-4430,NaN,-1662,NaN,-175,NaN,NaN
26,129.58,NaN,1556.02,NaN,1978,NaN,8574,NaN,1060,NaN,-118,NaN,NaN
27,-3472.37,NaN,4045.54,NaN,636,NaN,7295,NaN,-2775,NaN,-430,NaN,NaN
28,-115.69,NaN,5004.29,NaN,698,NaN,-13442,NaN,254,NaN,334,NaN,NaN

In [20]:
tables[3]

      Date  Nifty Closing Nifty Closing.1
0   21 Oct       25868.60         (0.10%)
1   20 Oct       25843.15         (0.52%)
2   17 Oct       25709.85         (0.49%)
3   16 Oct       25585.30         (1.03%)
4   15 Oct       25323.55         (0.71%)
5   14 Oct       25145.50        (-0.32%)
6   13 Oct       25227.35        (-0.23%)
7   10 Oct       25285.35         (0.41%)
8   09 Oct       25181.80         (0.54%)
9   08 Oct       25046.15        (-0.25%)
10  07 Oct       25108.30         (0.12%)
11  06 Oct       25077.65         (0.74%)
12  03 Oct       24894.25         (0.23%)
13  01 Oct       24836.30         (0.92%)
14  30 Sep       24611.10        (-0.10%)
15  29 Sep       24634.90        (-0.08%)
16  26 Sep       24654.70        (-0.95%)
17  25 Sep       24890.85         (0.00%)
18  24 Sep       24890.85        (-1.11%)
19  23 Sep       25169.50        (-0.13%)
20  22 Sep       25202.35        (-0.49%)
21  19 Sep       25327.05        (-0.38%)
22  18 Sep       25423.60         (0.37%)
23  17 Sep       25330.25         (0.36%)
24  16 Sep       25239.10         (0.68%)
25  15 Sep       25069.20        (-0.18%)
26  12 Sep       25114.00         (0.43%)
27  11 Sep       25005.50         (0.13%)
28  10 Sep       24973.10         (0.42%)

In [21]:
tables[4]

,FII Cash (Cr.),FII Cash (Cr.).1,DII Cash (Cr.),DII Cash (Cr.).1,FII Index Future (Cr.),FII Index Future (Cr.).1,FII Index Option (Cr.),FII Index Option (Cr.).1,FII Stock Future (Cr.),FII Stock Future (Cr.).1,FII Stock Option (Cr.),FII Stock Option (Cr.).1,Unnamed: 12
0,96.72,NaN,-607.01,NaN,57,NaN,-4076,NaN,427,NaN,-123,NaN,NaN
1,790.45,NaN,2485.46,NaN,1029,NaN,5545,NaN,2787,NaN,-558,NaN,NaN
2,308.98,NaN,1526.61,NaN,3991,NaN,-2983,NaN,-251,NaN,475,NaN,NaN
3,997.29,NaN,4076.20,NaN,5067,NaN,23618,NaN,463,NaN,239,NaN,NaN
4,68.64,NaN,4650.08,NaN,1008,NaN,-1022,NaN,1434,NaN,168,NaN,NaN
5,-1508.53,NaN,3661.13,NaN,-1651,NaN,23084,NaN,-3887,NaN,86,NaN,NaN
6,-240.10,NaN,2333.42,NaN,-836,NaN,-1539,NaN,-2502,NaN,182,NaN,NaN
7,459.20,NaN,1707.83,NaN,859,NaN,9977,NaN,1788,NaN,292,NaN,NaN
8,1308.16,NaN,864.36,NaN,545,NaN,-258,NaN,1452,NaN,571,NaN,NaN
9,81.28,NaN,329.96,NaN,175,NaN,1088,NaN,-2439,NaN,78,NaN,NaN
10,1440.66,NaN,452.57,NaN,1549,NaN,16170,NaN,-1568,NaN,-182,NaN,NaN
11,-313.77,NaN,5036.39,NaN,-1503,NaN,3821,NaN,-366,NaN,274,NaN,NaN
12,-1583.37,NaN,489.76,NaN,-2353,NaN,3664,NaN,-2315,NaN,-216,NaN,NaN
13,-1605.20,NaN,2916.14,NaN,-128,NaN,10738,NaN,-308,NaN,155,NaN,NaN
14,-2327.09,NaN,5761.63,NaN,-2717,NaN,15911,NaN,655,NaN,-388,NaN,NaN
15,-2831.59,NaN,3845.87,NaN,-528,NaN,3170,NaN,3883,NaN,-3055,NaN,NaN
16,-5687.58,NaN,5843.21,NaN,-3589,NaN,6773,NaN,-1141,NaN,424,NaN,NaN
17,-4995.42,NaN,5103.01,NaN,-510,NaN,5557,NaN,-223,NaN,1263,NaN,NaN
18,-2425.75,NaN,1211.68,NaN,-597,NaN,-3610,NaN,-473,NaN,409,NaN,NaN
19,-3551.19,NaN,2670.87,NaN,406,NaN,8105,NaN,787,NaN,498,NaN,NaN
20,-2910.09,NaN,2582.63,NaN,475,NaN,-9541,NaN,-628,NaN,245,NaN,NaN
21,390.74,NaN,2105.22,NaN,-604,NaN,2653,NaN,-659,NaN,-448,NaN,NaN
22,366.69,NaN,3326.56,NaN,1347,NaN,10800,NaN,222,NaN,495,NaN,NaN
23,-1124.54,NaN,2293.53,NaN,1708,NaN,-3533,NaN,-401,NaN,-30,NaN,NaN
24,308.32,NaN,1518.73,NaN,2206,NaN,42520,NaN,797,NaN,-116,NaN,NaN
25,-1268.59,NaN,1933.33,NaN,223,NaN,-4430,NaN,-1662,NaN,-175,NaN,NaN
26,129.58,NaN,1556.02,NaN,1978,NaN,8574,NaN,1060,NaN,-118,NaN,NaN
27,-3472.37,NaN,4045.54,NaN,636,NaN,7295,NaN,-2775,NaN,-430,NaN,NaN
28,-115.69,NaN,5004.29,NaN,698,NaN,-13442,NaN,254,NaN,334,NaN,NaN

In [17]:
df_et.columns

MultiIndex([(        'Date',                  'Date'),
            ('Equity (Cr.)',      'Gross Equity Buy'),
            ('Equity (Cr.)',     'Gross Equity Sell'),
            ('Equity (Cr.)',   'Net Equity Buy/Sell'),
            ('Equity (Cr.)', 'Net Equity Buy/Sell.1'),
            (  'Debt (Cr.)',        'Gross Debt Buy'),
            (  'Debt (Cr.)',       'Gross Debt Sell'),
            (  'Debt (Cr.)',     'Net Debt Buy/Sell'),
            (  'Debt (Cr.)',   'Net Debt Buy/Sell.1')],
           )

In [14]:
tables[3]

            Date     Equity (Cr.)                                        \
            Date Gross Equity Buy Gross Equity Sell Net Equity Buy/Sell
0   Last 30 Days         230872.2         -248839.2            -17967.1
1        2 weeks          84836.1          -83863.4               972.7
2         1 week          26914.0          -25717.9              1196.2
3         21 Oct            622.4            -525.7                96.8
4         20 Oct          11786.4          -10995.9               790.5
5         17 Oct          14505.3          -14196.3               309.0
6         16 Oct          14739.2          -13741.9               997.3
7         15 Oct          14013.6          -13944.9                68.7
8         14 Oct          10847.9          -12356.4             -1508.6
9         13 Oct           8085.5           -8325.6              -240.1
10        10 Oct          10236.1           -9776.9               459.2
11        09 Oct          10907.5           -9599.4              1308.2
12        08 Oct          10287.0          -10205.7                81.3
13        07 Oct          11543.0          -10102.4              1440.7
14        06 Oct          10950.2          -11264.0              -313.8
15        03 Oct          16898.8          -18482.2             -1583.4
16        01 Oct          12378.4          -13983.6             -1605.2
17        30 Sep          18730.0          -21057.1             -2327.1
18        29 Sep          17421.5          -20253.1             -2831.6
19        26 Sep          10751.4          -16439.0             -5687.6
20        25 Sep          15079.6          -20075.0             -4995.5
21        24 Sep          11089.2          -13515.0             -2425.8

                             Debt (Cr.)                                    \
   Net Equity Buy/Sell.1 Gross Debt Buy Gross Debt Sell Net Debt Buy/Sell
0                    NaN       301933.5       -250245.2           51688.3
1                    NaN       113035.8        -93202.1           19833.8
2                    NaN        32874.9        -29469.9            3405.1
3                    NaN          324.2          -931.2            -607.1
4                    NaN        15690.4        -13205.0            2485.5
5                    NaN        16860.4        -15333.8            1526.7
6                    NaN        19840.9        -15764.7            4076.2
7                    NaN        16214.7        -11564.7            4650.1
8                    NaN        16384.5        -12723.4            3661.2
9                    NaN        14960.8        -12627.4            2333.5
10                   NaN        12760.1        -11052.3            1707.9
11                   NaN        12577.1        -11712.7             864.4
12                   NaN        11733.5        -11403.6             330.0
13                   NaN        15953.2        -15500.6             452.6
14                   NaN        16124.5        -11088.1            5036.4
15                   NaN        14005.4        -13515.7             489.8
16                   NaN        15383.8        -12467.7            2916.2
17                   NaN        16948.7        -11187.1            5761.7
18                   NaN        40257.0        -36411.2            3845.9
19                   NaN        17766.7        -11923.5            5843.3
20                   NaN        15515.7        -10412.7            5103.1
21                   NaN        12632.4        -11420.7            1211.7


   Net Debt Buy/Sell.1
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9                  NaN
10                 NaN
11                 NaN
12                 NaN
13                 NaN
14                 NaN
15                 NaN
16                 NaN
17                 NaN
18                 NaN
19                 NaN
20                 NaN
21                 NaN

In [ ]:
import yfinance as yf
import matplotlib.pyplot as plt
import pandas as pd

# Ask the user for the stock symbol (e.g., 'AAPL' for Apple, 'TCS.NS' for TCS India)
symbol = "T"

# Fetch historical data (last 1 year by default)
data = yf.download(symbol, period="1w")

# # Display first few rows
# print("\n Historical Data:")
# print(data.head())

# # Plot the closing price
# plt.figure(figsize=(10, 5))
# plt.plot(data['Close'], label=f"{symbol} Closing Price")
# plt.title(f"{symbol} - 1 Year Historical Price")
# plt.xlabel("Date")
# plt.ylabel("Price ( or $)")
# plt.legend()
# plt.grid(True)
# plt.show()

C:\Users\deepa\AppData\Local\Temp\ipykernel_23316\398128000.py:9: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(symbol, period="1w")
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['TCS']: YFPricesMissingError('possibly delisted; no price data found  (period=1w) (Yahoo error = "No data found, symbol may be delisted")')

In [5]:
symbol = "066570.KS"

# Fetch last 1 year of data
data = yf.download(symbol, period="1y")

# Check if data is empty
if data.empty:
    print(f" No data found for {symbol}. Try another symbol or check suffix (.NS or .BO).")
else:
    print(data.head())

C:\Users\deepa\AppData\Local\Temp\ipykernel_23316\537659594.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(symbol, period="1y")
[*********************100%***********************]  1 of 1 completed

Price              Close          High           Low          Open    Volume
Ticker         066570.KS     066570.KS     066570.KS     066570.KS 066570.KS
Date
2024-10-24  95982.039062  98253.218999  95488.304294  98253.218999    295597
2024-10-25  90945.945312  96179.533914  90550.957494  96179.533914   1000018
2024-10-28  91242.179688  91637.167478  90353.457158  91439.673583    490122
2024-10-29  90254.718750  91735.923106  90057.224836  91637.176149    473930
2024-10-30  90353.460938  91242.183504  90353.460938  90550.954841    295828

In [6]:
data

Price              Close          High           Low          Open    Volume
Ticker         066570.KS     066570.KS     066570.KS     066570.KS 066570.KS
Date
2024-10-24  95982.039062  98253.218999  95488.304294  98253.218999    295597
2024-10-25  90945.945312  96179.533914  90550.957494  96179.533914   1000018
2024-10-28  91242.179688  91637.167478  90353.457158  91439.673583    490122
2024-10-29  90254.718750  91735.923106  90057.224836  91637.176149    473930
2024-10-30  90353.460938  91242.183504  90353.460938  90550.954841    295828
...                  ...           ...           ...           ...       ...
2025-10-20  91000.000000  91400.000000  85700.000000  85800.000000   2111530
2025-10-21  89200.000000  91900.000000  88600.000000  91400.000000   1062670
2025-10-22  89600.000000  90100.000000  87600.000000  90000.000000    605113
2025-10-23  90200.000000  91200.000000  88300.000000  88600.000000    756369
2025-10-24  88000.000000  90500.000000  86400.000000  90400.000000   1159776

[242 rows x 5 columns]

In [7]:
symbol = "LGEINDIA.NS"  # or whatever ticker Yahoo uses for NSE listing
data = yf.download(symbol, period="6mo", interval="1d")

if data.empty:
    print(f"No data found for {symbol}.")
else:
    print(data.head())

C:\Users\deepa\AppData\Local\Temp\ipykernel_23316\3942609861.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(symbol, period="6mo", interval="1d")
[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open      Volume
Ticker      LGEINDIA.NS  LGEINDIA.NS  LGEINDIA.NS  LGEINDIA.NS LGEINDIA.NS
Date
2025-10-14  1689.900024  1749.000000  1650.000000  1710.099976    68793750
2025-10-15  1688.099976  1728.900024  1680.199951  1698.000000     9113558
2025-10-16  1671.300049  1705.000000  1662.000000  1688.900024     4216934
2025-10-17  1668.000000  1701.300049  1627.800049  1675.000000     4992719
2025-10-20  1665.199951  1686.400024  1645.000000  1673.400024     2466878

In [ ]:
# combined_nse_6month.py
import yfinance as yf
import pandas as pd
from tqdm import tqdm
from pathlib import Path
import time

tickers = [
    "ADANIENT","ADANIPORTS","APOLLOHOSP","ASIANPAINT","AXISBANK","BAJAJ-AUTO","BAJFINANCE",
    "BAJAJFINSV","BEL","BHARTIARTL","CIPLA","COALINDIA","DRREDDY","EICHERMOT","ETERNAL",
    "GRASIM","HCLTECH","HDFCBANK","HDFCLIFE","HINDUNILVR","HINDALCO","ICICIBANK","INFY",
    "INDIGO","ITC","JIOFIN","JSWSTEEL","KOTAKBANK","LT","M&M","MARUTI","MAXHEALTH",
    "NESTLEIND","NTPC","ONGC","POWERGRID","RELIANCE","SBIN","SBILIFE","SHRIRAMFIN",
    "SUNPHARMA","TATACONSUM","TATAMOTORS","TATASTEEL","TCS","TECHM","TITAN","TRENT",
    "ULTRACEMCO","WIPRO"
]
ysym = symbol.strip().upper()
    if not (ysym.endswith(".NS") or ysym.endswith(".BO")):
        ysym = ysym + ".NS"






OUTPUT_DIR = Path("nse_6month_data")
OUTPUT_DIR.mkdir(exist_ok=True)
OUTFILE = OUTPUT_DIR / "nse_6month_all.csv"

PERIOD = "6mo"
INTERVAL = "1d"
MAX_RETRIES = 3
SLEEP = 1.0  # seconds

def fetch_symbol(symbol):
    ysym = symbol.strip().upper()
    if not (ysym.endswith(".NS") or ysym.endswith(".BO")):
        ysym = ysym + ".NS"
    for attempt in range(1, MAX_RETRIES + 1):
        try:
            df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
            if df is None or df.empty:
                print(f"[WARN] No data for {ysym} (attempt {attempt})")
            else:
                # ensure Date is column
                df = df.reset_index()
                # standardize column names
                df = df.rename(columns={
                    "Open":"Open","High":"High","Low":"Low","Close":"Close",
                    "Adj Close":"Adj Close","Volume":"Volume"
                })
                # keep only necessary columns
                cols_keep = ['Date','Open','High','Low','Close','Adj Close','Volume']
                df = df[[c for c in cols_keep if c in df.columns]]
                # add Symbol column (without .NS)
                df['Symbol'] = ysym.replace('.NS','').replace('.BO','')
                return df
        except Exception as e:
            print(f"[ERR] {ysym} attempt {attempt} error: {e}")
        time.sleep(SLEEP * attempt)
    print(f"[SKIP] Skipping {symbol} after {MAX_RETRIES} attempts.")
    return None

def main():
    all_dfs = []
    for sym in tqdm(tickers, desc="Downloading"):
        df = fetch_symbol(sym)
        if df is not None:
            all_dfs.append(df)
    if not all_dfs:
        print("No data collected for any symbol.")
        return

    combined = pd.concat(all_dfs, ignore_index=True)
    # Ensure Date is datetime and sort
    combined['Date'] = pd.to_datetime(combined['Date'])
    combined = combined.sort_values(['Date','Symbol']).reset_index(drop=True)

    # Save long-format CSV
    combined.to_csv(OUTFILE, index=False)
    print(f"\n Saved combined CSV: {OUTFILE.resolve()}")
    print(f"Rows: {len(combined)}, Columns: {list(combined.columns)}")

    # OPTIONAL: also save a pivoted Adjusted Close wide-format file
    try:
        wide = combined.pivot_table(index='Date', columns='Symbol', values='Adj Close')
        wide_file = OUTPUT_DIR / "nse_6month_adjclose_wide.csv"
        wide.to_csv(wide_file)
        print(f" Saved wide Adj Close CSV: {wide_file.resolve()}")
    except Exception as e:
        print(f"[WARN] Could not create wide Adj Close CSV: {e}")

if __name__ == "__main__":
    main()

Downloading:   0%|          | 0/50 [00:00<?, ?it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:   2%|         | 1/50 [00:01<01:20,  1.64s/it]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:   4%|         | 2/50 [00:02<00:45,  1.05it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:   6%|         | 3/50 [00:02<00:35,  1.32it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:   8%|         | 4/50 [00:03<00:33,  1.38it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  10%|         | 5/50 [00:03<00:31,  1.45it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  12%|        | 6/50 [00:04<00:30,  1.45it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  14%|        | 7/50 [00:05<00:29,  1.45it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  16%|        | 8/50 [00:05<00:26,  1.57it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  18%|        | 9/50 [00:06<00:25,  1.64it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  20%|        | 10/50 [00:06<00:22,  1.74it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  22%|       | 11/50 [00:07<00:20,  1.87it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  24%|       | 12/50 [00:07<00:20,  1.85it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  26%|       | 13/50 [00:08<00:18,  1.95it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  28%|       | 14/50 [00:08<00:19,  1.87it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  30%|       | 15/50 [00:09<00:18,  1.92it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  32%|      | 16/50 [00:09<00:16,  2.01it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  34%|      | 17/50 [00:10<00:16,  2.00it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  36%|      | 18/50 [00:10<00:15,  2.03it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  38%|      | 19/50 [00:11<00:14,  2.07it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  40%|      | 20/50 [00:11<00:14,  2.07it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  42%|     | 21/50 [00:12<00:14,  2.07it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  44%|     | 22/50 [00:12<00:13,  2.15it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  46%|     | 23/50 [00:13<00:13,  2.04it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  48%|     | 24/50 [00:13<00:12,  2.07it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  50%|     | 25/50 [00:14<00:12,  2.03it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  52%|    | 26/50 [00:14<00:11,  2.15it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  54%|    | 27/50 [00:15<00:10,  2.12it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  56%|    | 28/50 [00:15<00:10,  2.00it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  58%|    | 29/50 [00:16<00:10,  2.00it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  60%|    | 30/50 [00:16<00:10,  1.98it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  62%|   | 31/50 [00:17<00:09,  1.95it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  64%|   | 32/50 [00:17<00:08,  2.05it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  66%|   | 33/50 [00:18<00:08,  2.03it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  68%|   | 34/50 [00:18<00:07,  2.10it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  70%|   | 35/50 [00:19<00:07,  1.95it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  72%|  | 36/50 [00:19<00:07,  1.91it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  74%|  | 37/50 [00:20<00:06,  1.91it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  76%|  | 38/50 [00:20<00:06,  1.87it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  78%|  | 39/50 [00:21<00:05,  1.91it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  80%|  | 40/50 [00:21<00:05,  1.94it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  82%| | 41/50 [00:22<00:04,  1.88it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  84%| | 42/50 [00:22<00:03,  2.01it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  86%| | 43/50 [00:23<00:03,  2.01it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  88%| | 44/50 [00:23<00:03,  1.99it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  90%| | 45/50 [00:24<00:02,  2.31it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  92%|| 46/50 [00:24<00:01,  2.16it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  94%|| 47/50 [00:25<00:01,  2.17it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  96%|| 48/50 [00:25<00:01,  1.90it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading:  98%|| 49/50 [00:26<00:00,  1.91it/s]C:\Users\deepa\AppData\Local\Temp\ipykernel_31464\1215176691.py:33: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
Downloading: 100%|| 50/50 [00:26<00:00,  1.87it/s]

 Saved combined CSV: D:\dashboard\dashboard_project_full_data\dashboard_project_python_only\frontend\src\nse_6month_data\nse_6month_all.csv
Rows: 6350, Columns: [('Date', ''), ('Open', 'ADANIENT.NS'), ('High', 'ADANIENT.NS'), ('Low', 'ADANIENT.NS'), ('Close', 'ADANIENT.NS'), ('Volume', 'ADANIENT.NS'), ('Symbol', ''), ('Open', 'ADANIPORTS.NS'), ('High', 'ADANIPORTS.NS'), ('Low', 'ADANIPORTS.NS'), ('Close', 'ADANIPORTS.NS'), ('Volume', 'ADANIPORTS.NS'), ('Open', 'APOLLOHOSP.NS'), ('High', 'APOLLOHOSP.NS'), ('Low', 'APOLLOHOSP.NS'), ('Close', 'APOLLOHOSP.NS'), ('Volume', 'APOLLOHOSP.NS'), ('Open', 'ASIANPAINT.NS'), ('High', 'ASIANPAINT.NS'), ('Low', 'ASIANPAINT.NS'), ('Close', 'ASIANPAINT.NS'), ('Volume', 'ASIANPAINT.NS'), ('Open', 'AXISBANK.NS'), ('High', 'AXISBANK.NS'), ('Low', 'AXISBANK.NS'), ('Close', 'AXISBANK.NS'), ('Volume', 'AXISBANK.NS'), ('Open', 'BAJAJ-AUTO.NS'), ('High', 'BAJAJ-AUTO.NS'), ('Low', 'BAJAJ-AUTO.NS'), ('Close', 'BAJAJ-AUTO.NS'), ('Volume', 'BAJAJ-AUTO.NS'), ('Open', 'BAJFINANCE.NS'), ('High', 'BAJFINANCE.NS'), ('Low', 'BAJFINANCE.NS'), ('Close', 'BAJFINANCE.NS'), ('Volume', 'BAJFINANCE.NS'), ('Open', 'BAJAJFINSV.NS'), ('High', 'BAJAJFINSV.NS'), ('Low', 'BAJAJFINSV.NS'), ('Close', 'BAJAJFINSV.NS'), ('Volume', 'BAJAJFINSV.NS'), ('Open', 'BEL.NS'), ('High', 'BEL.NS'), ('Low', 'BEL.NS'), ('Close', 'BEL.NS'), ('Volume', 'BEL.NS'), ('Open', 'BHARTIARTL.NS'), ('High', 'BHARTIARTL.NS'), ('Low', 'BHARTIARTL.NS'), ('Close', 'BHARTIARTL.NS'), ('Volume', 'BHARTIARTL.NS'), ('Open', 'CIPLA.NS'), ('High', 'CIPLA.NS'), ('Low', 'CIPLA.NS'), ('Close', 'CIPLA.NS'), ('Volume', 'CIPLA.NS'), ('Open', 'COALINDIA.NS'), ('High', 'COALINDIA.NS'), ('Low', 'COALINDIA.NS'), ('Close', 'COALINDIA.NS'), ('Volume', 'COALINDIA.NS'), ('Open', 'DRREDDY.NS'), ('High', 'DRREDDY.NS'), ('Low', 'DRREDDY.NS'), ('Close', 'DRREDDY.NS'), ('Volume', 'DRREDDY.NS'), ('Open', 'EICHERMOT.NS'), ('High', 'EICHERMOT.NS'), ('Low', 'EICHERMOT.NS'), ('Close', 'EICHERMOT.NS'), ('Volume', 'EICHERMOT.NS'), ('Open', 'ETERNAL.NS'), ('High', 'ETERNAL.NS'), ('Low', 'ETERNAL.NS'), ('Close', 'ETERNAL.NS'), ('Volume', 'ETERNAL.NS'), ('Open', 'GRASIM.NS'), ('High', 'GRASIM.NS'), ('Low', 'GRASIM.NS'), ('Close', 'GRASIM.NS'), ('Volume', 'GRASIM.NS'), ('Open', 'HCLTECH.NS'), ('High', 'HCLTECH.NS'), ('Low', 'HCLTECH.NS'), ('Close', 'HCLTECH.NS'), ('Volume', 'HCLTECH.NS'), ('Open', 'HDFCBANK.NS'), ('High', 'HDFCBANK.NS'), ('Low', 'HDFCBANK.NS'), ('Close', 'HDFCBANK.NS'), ('Volume', 'HDFCBANK.NS'), ('Open', 'HDFCLIFE.NS'), ('High', 'HDFCLIFE.NS'), ('Low', 'HDFCLIFE.NS'), ('Close', 'HDFCLIFE.NS'), ('Volume', 'HDFCLIFE.NS'), ('Open', 'HINDUNILVR.NS'), ('High', 'HINDUNILVR.NS'), ('Low', 'HINDUNILVR.NS'), ('Close', 'HINDUNILVR.NS'), ('Volume', 'HINDUNILVR.NS'), ('Open', 'HINDALCO.NS'), ('High', 'HINDALCO.NS'), ('Low', 'HINDALCO.NS'), ('Close', 'HINDALCO.NS'), ('Volume', 'HINDALCO.NS'), ('Open', 'ICICIBANK.NS'), ('High', 'ICICIBANK.NS'), ('Low', 'ICICIBANK.NS'), ('Close', 'ICICIBANK.NS'), ('Volume', 'ICICIBANK.NS'), ('Open', 'INFY.NS'), ('High', 'INFY.NS'), ('Low', 'INFY.NS'), ('Close', 'INFY.NS'), ('Volume', 'INFY.NS'), ('Open', 'INDIGO.NS'), ('High', 'INDIGO.NS'), ('Low', 'INDIGO.NS'), ('Close', 'INDIGO.NS'), ('Volume', 'INDIGO.NS'), ('Open', 'ITC.NS'), ('High', 'ITC.NS'), ('Low', 'ITC.NS'), ('Close', 'ITC.NS'), ('Volume', 'ITC.NS'), ('Open', 'JIOFIN.NS'), ('High', 'JIOFIN.NS'), ('Low', 'JIOFIN.NS'), ('Close', 'JIOFIN.NS'), ('Volume', 'JIOFIN.NS'), ('Open', 'JSWSTEEL.NS'), ('High', 'JSWSTEEL.NS'), ('Low', 'JSWSTEEL.NS'), ('Close', 'JSWSTEEL.NS'), ('Volume', 'JSWSTEEL.NS'), ('Open', 'KOTAKBANK.NS'), ('High', 'KOTAKBANK.NS'), ('Low', 'KOTAKBANK.NS'), ('Close', 'KOTAKBANK.NS'), ('Volume', 'KOTAKBANK.NS'), ('Open', 'LT.NS'), ('High', 'LT.NS'), ('Low', 'LT.NS'), ('Close', 'LT.NS'), ('Volume', 'LT.NS'), ('Open', 'M&M.NS'), ('High', 'M&M.NS'), ('Low', 'M&M.NS'), ('Close', 'M&M.NS'), ('Volume', 'M&M.NS'), ('Open', 'MARUTI.NS'), ('High', 'MARUTI.NS'), ('Low', 'MARUTI.NS'), ('Close', 'MARUTI.NS'), ('Volume', 'MARUTI.NS'), ('Open', 'MAXHEALTH.NS'), ('High', 'MAXHEALTH.NS'), ('Low', 'MAXHEALTH.NS'), ('Close', 'MAXHEALTH.NS'), ('Volume', 'MAXHEALTH.NS'), ('Open', 'NESTLEIND.NS'), ('High', 'NESTLEIND.NS'), ('Low', 'NESTLEIND.NS'), ('Close', 'NESTLEIND.NS'), ('Volume', 'NESTLEIND.NS'), ('Open', 'NTPC.NS'), ('High', 'NTPC.NS'), ('Low', 'NTPC.NS'), ('Close', 'NTPC.NS'), ('Volume', 'NTPC.NS'), ('Open', 'ONGC.NS'), ('High', 'ONGC.NS'), ('Low', 'ONGC.NS'), ('Close', 'ONGC.NS'), ('Volume', 'ONGC.NS'), ('Open', 'POWERGRID.NS'), ('High', 'POWERGRID.NS'), ('Low', 'POWERGRID.NS'), ('Close', 'POWERGRID.NS'), ('Volume', 'POWERGRID.NS'), ('Open', 'RELIANCE.NS'), ('High', 'RELIANCE.NS'), ('Low', 'RELIANCE.NS'), ('Close', 'RELIANCE.NS'), ('Volume', 'RELIANCE.NS'), ('Open', 'SBIN.NS'), ('High', 'SBIN.NS'), ('Low', 'SBIN.NS'), ('Close', 'SBIN.NS'), ('Volume', 'SBIN.NS'), ('Open', 'SBILIFE.NS'), ('High', 'SBILIFE.NS'), ('Low', 'SBILIFE.NS'), ('Close', 'SBILIFE.NS'), ('Volume', 'SBILIFE.NS'), ('Open', 'SHRIRAMFIN.NS'), ('High', 'SHRIRAMFIN.NS'), ('Low', 'SHRIRAMFIN.NS'), ('Close', 'SHRIRAMFIN.NS'), ('Volume', 'SHRIRAMFIN.NS'), ('Open', 'SUNPHARMA.NS'), ('High', 'SUNPHARMA.NS'), ('Low', 'SUNPHARMA.NS'), ('Close', 'SUNPHARMA.NS'), ('Volume', 'SUNPHARMA.NS'), ('Open', 'TATACONSUM.NS'), ('High', 'TATACONSUM.NS'), ('Low', 'TATACONSUM.NS'), ('Close', 'TATACONSUM.NS'), ('Volume', 'TATACONSUM.NS'), ('Open', 'TATAMOTORS.NS'), ('High', 'TATAMOTORS.NS'), ('Low', 'TATAMOTORS.NS'), ('Close', 'TATAMOTORS.NS'), ('Volume', 'TATAMOTORS.NS'), ('Open', 'TATASTEEL.NS'), ('High', 'TATASTEEL.NS'), ('Low', 'TATASTEEL.NS'), ('Close', 'TATASTEEL.NS'), ('Volume', 'TATASTEEL.NS'), ('Open', 'TCS.NS'), ('High', 'TCS.NS'), ('Low', 'TCS.NS'), ('Close', 'TCS.NS'), ('Volume', 'TCS.NS'), ('Open', 'TECHM.NS'), ('High', 'TECHM.NS'), ('Low', 'TECHM.NS'), ('Close', 'TECHM.NS'), ('Volume', 'TECHM.NS'), ('Open', 'TITAN.NS'), ('High', 'TITAN.NS'), ('Low', 'TITAN.NS'), ('Close', 'TITAN.NS'), ('Volume', 'TITAN.NS'), ('Open', 'TRENT.NS'), ('High', 'TRENT.NS'), ('Low', 'TRENT.NS'), ('Close', 'TRENT.NS'), ('Volume', 'TRENT.NS'), ('Open', 'ULTRACEMCO.NS'), ('High', 'ULTRACEMCO.NS'), ('Low', 'ULTRACEMCO.NS'), ('Close', 'ULTRACEMCO.NS'), ('Volume', 'ULTRACEMCO.NS'), ('Open', 'WIPRO.NS'), ('High', 'WIPRO.NS'), ('Low', 'WIPRO.NS'), ('Close', 'WIPRO.NS'), ('Volume', 'WIPRO.NS')]
[WARN] Could not create wide Adj Close CSV: 'Adj Close'

In [ ]:
for sym in tqdm(tickers, desc="Downloading"):
df = fetch_symbol(sym)

In [18]:
import yfinance as yf
import matplotlib.pyplot as plt
import pandas as pd
cols = [
    ('Close', ),
    ('High',  ),
    ('Low',   ),
    ('Open',  ),
    ('Volume',),
]

mi = pd.MultiIndex.from_tuples(cols)
df_empty = pd.DataFrame(columns=mi)
df_empty.index = pd.DatetimeIndex([], name='Date')
tickers = [
    "ADANIENT","ADANIPORTS","APOLLOHOSP","ASIANPAINT","AXISBANK","BAJAJ-AUTO","BAJFINANCE",
    "BAJAJFINSV","BEL","BHARTIARTL","CIPLA","COALINDIA","DRREDDY","EICHERMOT","ETERNAL",
    "GRASIM","HCLTECH","HDFCBANK","HDFCLIFE","HINDUNILVR","HINDALCO","ICICIBANK","INFY",
    "INDIGO","ITC","JIOFIN","JSWSTEEL","KOTAKBANK","LT","M&M","MARUTI","MAXHEALTH",
    "NESTLEIND","NTPC","ONGC","POWERGRID","RELIANCE","SBIN","SBILIFE","SHRIRAMFIN",
    "SUNPHARMA","TATACONSUM","TATAMOTORS","TATASTEEL","TCS","TECHM","TITAN","TRENT",
    "ULTRACEMCO","WIPRO"
]
nse_tickers = [s.strip().upper() + ".NS" if not (s.endswith(".NS") or s.endswith(".BO")) else s for s in tickers]
for symbol in nse_tickers:
    data = yf.download(symbol, period="1w", interval="1d")
    # The .append method is deprecated; use pd.concat instead.
    df_empty = pd.concat([df_empty, data], ignore_index=False)
df_empty

C:\Users\deepa\AppData\Local\Temp\ipykernel_36848\2058234215.py:26: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(symbol, period="1w", interval="1d")
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['ADANIENT.NS']: YFInvalidPeriodError("ADANIENT.NS: Period '1w' is invalid, must be one of: 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max")

AssertionError: Length of new_levels (2) must be <= self.nlevels (1)

In [ ]:
import yfinance as yf
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
# desired single-level columns (yfinance standard)
desired_cols = ['symbol','Close', 'High', 'Low', 'Open', 'Volume']
df_all = pd.DataFrame(columns=desired_cols)
tickers = [
    "ADANIENT",
    "ADANIPORTS",
    "APOLLOHOSP","ASIANPAINT","AXISBANK","BAJAJ-AUTO","BAJFINANCE",
    "BAJAJFINSV","BEL","BHARTIARTL","CIPLA","COALINDIA","DRREDDY","EICHERMOT","ETERNAL",
    "GRASIM","HCLTECH","HDFCBANK","HDFCLIFE","HINDUNILVR","HINDALCO","ICICIBANK","INFY",
    "INDIGO","ITC","JIOFIN","JSWSTEEL","KOTAKBANK","LT","M&M","MARUTI","MAXHEALTH",
    "NESTLEIND","NTPC","ONGC","POWERGRID","RELIANCE","SBIN","SBILIFE","SHRIRAMFIN",
    "SUNPHARMA","TATACONSUM","TATAMOTORS","TATASTEEL","TCS","TECHM","TITAN","TRENT",
    "ULTRACEMCO","WIPRO"
]
start_date = "2024-10-01"
end_date = "2024-10-26"
nse_tickers = [s.strip().upper() + ".NS" if not (s.endswith(".NS") or s.endswith(".BO")) else s for s in tickers]
for symbol in nse_tickers:
    # data = yf.download(symbol, period="1mo")
    data = yf.download(symbol, start=start_date, end=end_date)
    data.columns = ['Close', 'High', 'Low', 'Open', 'Volume']
    data['symbol'] = symbol.replace('.NS','').replace('.BO','')
    df_all = pd.concat([df_all, data], axis=0, ignore_index=False)
df_all = df_all.sort_index().reset_index()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
df_all

,index,symbol,Close,High,Low,Open,Volume
0,2024-10-01,ADANIENT,3184.471924,3190.368811,3105.412248,3134.697324,1367116
1,2024-10-01,MAXHEALTH,969.081726,987.560402,964.237280,985.362926,1331140
2,2024-10-01,HCLTECH,1738.566772,1744.261453,1713.203701,1713.203701,1642542
3,2024-10-01,NESTLEIND,1339.281250,1340.740704,1322.385866,1330.845938,1105518
4,2024-10-01,BAJAJFINSV,1974.288086,2006.122551,1968.091154,1972.039182,1326900
...,...,...,...,...,...,...,...
895,2024-10-25,KOTAKBANK,1766.812988,1784.442687,1754.976659,1762.967446,2829227
896,2024-10-25,JSWSTEEL,941.315186,957.371984,924.310987,955.526916,2541293
897,2024-10-25,JIOFIN,310.715485,317.355125,305.523569,317.005664,12405370
898,2024-10-25,ONGC,251.377136,257.327173,249.044739,257.041583,12961181
899,2024-10-25,WIPRO,261.291321,265.402164,259.872952,264.320361,10124540

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

TypeError: '<' not supported between instances of 'Timestamp' and 'int'

In [1]:
import yfinance as yf
import pandas as pd
import warnings

# suppress warnings & progress bars
warnings.filterwarnings("ignore")

# ---------------------
#  Customize date range here
# ---------------------
start_date = "2024-10-01"
end_date = "2024-10-26"
# Or dynamically:
# from datetime import datetime, timedelta
# end_date = datetime.today().strftime('%Y-%m-%d')
# start_date = (datetime.today() - timedelta(days=180)).strftime('%Y-%m-%d')

tickers = [
    "ADANIENT","ADANIPORTS","APOLLOHOSP","ASIANPAINT","AXISBANK","BAJAJ-AUTO","BAJFINANCE",
    "BAJAJFINSV","BEL","BHARTIARTL","CIPLA","COALINDIA","DRREDDY","EICHERMOT","ETERNAL",
    "GRASIM","HCLTECH","HDFCBANK","HDFCLIFE","HINDUNILVR","HINDALCO","ICICIBANK","INFY",
    "INDIGO","ITC","JIOFIN","JSWSTEEL","KOTAKBANK","LT","M&M","MARUTI","MAXHEALTH",
    "NESTLEIND","NTPC","ONGC","POWERGRID","RELIANCE","SBIN","SBILIFE","SHRIRAMFIN",
    "SUNPHARMA","TATACONSUM","TATAMOTORS","TATASTEEL","TCS","TECHM","TITAN","TRENT",
    "ULTRACEMCO","WIPRO"
]

# Add NSE suffix
nse_tickers = [s.strip().upper() + ".NS" if not (s.endswith(".NS") or s.endswith(".BO")) else s for s in tickers]

# Create empty DataFrame
df_all = pd.DataFrame()

# Loop through tickers
for symbol in nse_tickers:
    try:
        #  Download data for your custom date range
        data = yf.download(symbol, start=start_date, end=end_date, progress=False, auto_adjust=False)

        if data is None or data.empty:
            print(f"[SKIP] No data found for {symbol}")
            continue

        # Select and rename columns (match your desired structure)
        data = data[['Close', 'High', 'Low', 'Open', 'Volume']].copy()

        # Add Symbol and Date columns
        data['Symbol'] = symbol.replace('.NS','').replace('.BO','')
        data['Date'] = data.index

        # Append cleanly
        df_all = pd.concat([df_all, data], axis=0, ignore_index=True)

    except Exception as e:
        print(f"[ERR] Skipping {symbol}: {e}")

# Sort by Date, Symbol
df_all = df_all.sort_values(['Date','Symbol']).reset_index(drop=True)

# Show summary
print(f" Download complete! {len(df_all)} rows collected from {start_date} to {end_date}.")
print(df_all.head(10))

 Download complete! 900 rows collected from 2024-10-01 to 2024-10-26.
Price         Close        High         Low         Open      Volume  \
Ticker  ADANIENT.NS ADANIENT.NS ADANIENT.NS  ADANIENT.NS ADANIENT.NS
0       3186.100098      3192.0      3107.0  3136.300049   1367116.0
1               NaN         NaN         NaN          NaN         NaN
2               NaN         NaN         NaN          NaN         NaN
3               NaN         NaN         NaN          NaN         NaN
4               NaN         NaN         NaN          NaN         NaN
5               NaN         NaN         NaN          NaN         NaN
6               NaN         NaN         NaN          NaN         NaN
7               NaN         NaN         NaN          NaN         NaN
8               NaN         NaN         NaN          NaN         NaN
9               NaN         NaN         NaN          NaN         NaN

Price       Symbol       Date         Close          High           Low  ...  \
Ticker                        ADANIPORTS.NS ADANIPORTS.NS ADANIPORTS.NS  ...
0         ADANIENT 2024-10-01           NaN           NaN           NaN  ...
1       ADANIPORTS 2024-10-01        1467.5   1472.849976        1448.0  ...
2       APOLLOHOSP 2024-10-01           NaN           NaN           NaN  ...
3       ASIANPAINT 2024-10-01           NaN           NaN           NaN  ...
4         AXISBANK 2024-10-01           NaN           NaN           NaN  ...
5       BAJAJ-AUTO 2024-10-01           NaN           NaN           NaN  ...
6       BAJAJFINSV 2024-10-01           NaN           NaN           NaN  ...
7       BAJFINANCE 2024-10-01           NaN           NaN           NaN  ...
8              BEL 2024-10-01           NaN           NaN           NaN  ...
9       BHARTIARTL 2024-10-01           NaN           NaN           NaN  ...

Price          Close          High           Low          Open        Volume  \
Ticker ULTRACEMCO.NS ULTRACEMCO.NS ULTRACEMCO.NS ULTRACEMCO.NS ULTRACEMCO.NS
0                NaN           NaN           NaN           NaN           NaN
1                NaN           NaN           NaN           NaN           NaN
2                NaN           NaN           NaN           NaN           NaN
3                NaN           NaN           NaN           NaN           NaN
4                NaN           NaN           NaN           NaN           NaN
5                NaN           NaN           NaN           NaN           NaN
6                NaN           NaN           NaN           NaN           NaN
7                NaN           NaN           NaN           NaN           NaN
8                NaN           NaN           NaN           NaN           NaN
9                NaN           NaN           NaN           NaN           NaN

Price     Close     High      Low     Open   Volume
Ticker WIPRO.NS WIPRO.NS WIPRO.NS WIPRO.NS WIPRO.NS
0           NaN      NaN      NaN      NaN      NaN
1           NaN      NaN      NaN      NaN      NaN
2           NaN      NaN      NaN      NaN      NaN
3           NaN      NaN      NaN      NaN      NaN
4           NaN      NaN      NaN      NaN      NaN
5           NaN      NaN      NaN      NaN      NaN
6           NaN      NaN      NaN      NaN      NaN
7           NaN      NaN      NaN      NaN      NaN
8           NaN      NaN      NaN      NaN      NaN
9           NaN      NaN      NaN      NaN      NaN

[10 rows x 252 columns]

In [31]:
data = yf.download("ADANIENT.NS", period="1mo")

C:\Users\deepa\AppData\Local\Temp\ipykernel_36848\3725407968.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download("ADANIENT.NS", period="1mo")
[*********************100%***********************]  1 of 1 completed

In [41]:
data.columns = ['Close', 'High', 'Low', 'Open', 'Volume']
data

                  Close         High          Low         Open   Volume
Date
2025-09-24  2619.800049  2676.000000  2614.399902  2655.000000  1720785
2025-09-25  2576.399902  2647.899902  2567.000000  2625.000000  1489682
2025-09-26  2543.699951  2605.000000  2535.000000  2572.800049  1037808
2025-09-29  2509.500000  2555.000000  2505.000000  2543.699951  1012402
2025-09-30  2505.899902  2535.000000  2490.600098  2522.000000   712592
2025-10-01  2592.699951  2603.399902  2472.100098  2518.399902  1573485
2025-10-03  2589.899902  2612.899902  2564.399902  2595.000000   917651
2025-10-06  2573.500000  2599.800049  2562.600098  2589.100098   654955
2025-10-07  2542.199951  2617.300049  2533.100098  2580.699951  1120230
2025-10-08  2524.100098  2565.000000  2500.000000  2562.000000  1063357
2025-10-09  2542.399902  2559.000000  2522.199951  2535.000000   651703
2025-10-10  2550.899902  2565.000000  2538.800049  2552.000000   690142
2025-10-13  2527.399902  2542.100098  2504.000000  2529.100098   645483
2025-10-14  2517.000000  2538.899902  2485.199951  2538.899902   673048
2025-10-15  2532.800049  2561.399902  2527.300049  2535.000000   759772
2025-10-16  2557.600098  2579.699951  2540.899902  2544.800049  1020102
2025-10-17  2549.399902  2577.199951  2543.100098  2560.000000   682968
2025-10-20  2548.100098  2579.000000  2537.100098  2561.300049   747349
2025-10-21  2549.899902  2562.000000  2542.300049  2554.899902   101019
2025-10-23  2545.800049  2577.800049  2540.899902  2559.899902   852445
2025-10-24  2504.199951  2554.800049  2497.699951  2554.800049   473765

In [30]:
df_all

,index,symbol,"(Close, ADANIENT.NS)","(High, ADANIENT.NS)","(Low, ADANIENT.NS)","(Open, ADANIENT.NS)","(Volume, ADANIENT.NS)","(Close, ADANIPORTS.NS)","(High, ADANIPORTS.NS)","(Low, ADANIPORTS.NS)","(Open, ADANIPORTS.NS)","(Volume, ADANIPORTS.NS)"
0,2025-09-24,ADANIPORTS.NS,2619.800049,2676.000000,2614.399902,2655.000000,1720785.0,NaN,NaN,NaN,NaN,NaN
1,2025-09-24,NaN,NaN,NaN,NaN,NaN,NaN,1431.599976,1452.400024,1429.099976,1445.000000,2603193.0
2,2025-09-25,ADANIPORTS.NS,2576.399902,2647.899902,2567.000000,2625.000000,1489682.0,NaN,NaN,NaN,NaN,NaN
3,2025-09-25,NaN,NaN,NaN,NaN,NaN,NaN,1407.199951,1439.900024,1404.099976,1431.699951,1970560.0
4,2025-09-26,ADANIPORTS.NS,2543.699951,2605.000000,2535.000000,2572.800049,1037808.0,NaN,NaN,NaN,NaN,NaN
5,2025-09-26,NaN,NaN,NaN,NaN,NaN,NaN,1392.000000,1416.699951,1390.300049,1407.199951,1899079.0
6,2025-09-29,ADANIPORTS.NS,2509.500000,2555.000000,2505.000000,2543.699951,1012402.0,NaN,NaN,NaN,NaN,NaN
7,2025-09-29,NaN,NaN,NaN,NaN,NaN,NaN,1383.199951,1401.300049,1377.599976,1393.599976,1978395.0
8,2025-09-30,ADANIPORTS.NS,2505.899902,2535.000000,2490.600098,2522.000000,712592.0,NaN,NaN,NaN,NaN,NaN
9,2025-09-30,NaN,NaN,NaN,NaN,NaN,NaN,1403.500000,1408.000000,1387.199951,1389.699951,1999250.0
10,2025-10-01,ADANIPORTS.NS,2592.699951,2603.399902,2472.100098,2518.399902,1573485.0,NaN,NaN,NaN,NaN,NaN
11,2025-10-01,NaN,NaN,NaN,NaN,NaN,NaN,1422.699951,1426.900024,1392.699951,1406.000000,1602493.0
12,2025-10-03,NaN,NaN,NaN,NaN,NaN,NaN,1419.099976,1431.000000,1412.500000,1413.000000,1576970.0
13,2025-10-03,ADANIPORTS.NS,2589.899902,2612.899902,2564.399902,2595.000000,917651.0,NaN,NaN,NaN,NaN,NaN
14,2025-10-06,NaN,NaN,NaN,NaN,NaN,NaN,1400.500000,1419.099976,1395.000000,1419.099976,1338654.0
15,2025-10-06,ADANIPORTS.NS,2573.500000,2599.800049,2562.600098,2589.100098,654955.0,NaN,NaN,NaN,NaN,NaN
16,2025-10-07,NaN,NaN,NaN,NaN,NaN,NaN,1399.500000,1415.000000,1397.300049,1400.800049,1608151.0
17,2025-10-07,ADANIPORTS.NS,2542.199951,2617.300049,2533.100098,2580.699951,1120230.0,NaN,NaN,NaN,NaN,NaN
18,2025-10-08,NaN,NaN,NaN,NaN,NaN,NaN,1394.300049,1411.099976,1386.000000,1399.400024,1704405.0
19,2025-10-08,ADANIPORTS.NS,2524.100098,2565.000000,2500.000000,2562.000000,1063357.0,NaN,NaN,NaN,NaN,NaN
20,2025-10-09,NaN,NaN,NaN,NaN,NaN,NaN,1395.599976,1399.800049,1388.400024,1394.500000,1250770.0
21,2025-10-09,ADANIPORTS.NS,2542.399902,2559.000000,2522.199951,2535.000000,651703.0,NaN,NaN,NaN,NaN,NaN
22,2025-10-10,ADANIPORTS.NS,2550.899902,2565.000000,2538.800049,2552.000000,690142.0,NaN,NaN,NaN,NaN,NaN
23,2025-10-10,NaN,NaN,NaN,NaN,NaN,NaN,1409.400024,1418.000000,1395.699951,1400.500000,1359246.0
24,2025-10-13,NaN,NaN,NaN,NaN,NaN,NaN,1437.800049,1441.900024,1396.000000,1400.800049,2245061.0
25,2025-10-13,ADANIPORTS.NS,2527.399902,2542.100098,2504.000000,2529.100098,645483.0,NaN,NaN,NaN,NaN,NaN
26,2025-10-14,NaN,NaN,NaN,NaN,NaN,NaN,1429.000000,1442.199951,1422.000000,1440.000000,2640234.0
27,2025-10-14,ADANIPORTS.NS,2517.000000,2538.899902,2485.199951,2538.899902,673048.0,NaN,NaN,NaN,NaN,NaN
28,2025-10-15,NaN,NaN,NaN,NaN,NaN,NaN,1450.699951,1456.300049,1430.000000,1430.000000,2675240.0
29,2025-10-15,ADANIPORTS.NS,2532.800049,2561.399902,2527.300049,2535.000000,759772.0,NaN,NaN,NaN,NaN,NaN
30,2025-10-16,ADANIPORTS.NS,2557.600098,2579.699951,2540.899902,2544.800049,1020102.0,NaN,NaN,NaN,NaN,NaN
31,2025-10-16,NaN,NaN,NaN,NaN,NaN,NaN,1479.500000,1490.500000,1453.000000,1454.000000,6512312.0
32,2025-10-17,NaN,NaN,NaN,NaN,NaN,NaN,1479.400024,1489.000000,1462.500000,1479.500000,3290072.0
33,2025-10-17,ADANIPORTS.NS,2549.399902,2577.199951,2543.100098,2560.000000,682968.0,NaN,NaN,NaN,NaN,NaN
34,2025-10-20,NaN,NaN,NaN,NaN,NaN,NaN,1467.000000,1489.000000,1459.099976,1488.000000,2660484.0
35,2025-10-20,ADANIPORTS.NS,2548.100098,2579.000000,2537.100098,2561.300049,747349.0,NaN,NaN,NaN,NaN,NaN
36,2025-10-21,NaN,NaN,NaN,NaN,NaN,NaN,1473.500000,1481.500000,1470.000000,1477.000000,394024.0
37,2025-10-21,ADANIPORTS.NS,2549.899902,2562.000000,2542.300049,2554.899902,101019.0,NaN,NaN,NaN,NaN,NaN
38,2025-10-23,NaN,NaN,NaN,NaN,NaN,NaN,1453.099976,1483.500000,1450.300049,1478.800049,2999137.0
39,2025-10-23,ADANIPORTS.NS,2545.800049,2577.800049,2540.899902,2559.899902,852445.0,NaN,NaN,NaN,NaN,NaN
40,2025-10-24,ADANIPORTS.NS,2504.199951,2554.800049,2497.699951,2554.800049,473765.0,NaN,NaN,NaN,NaN,NaN
41,2025-10-24,NaN,NaN,NaN,NaN,NaN,NaN,1429.000000,1463.500000,1422.300049,1463.000000,1907383.0

In [20]:
df_all

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [10]:
data.columns

MultiIndex([( 'Close', 'HINDUNILVR.NS'),
            (  'High', 'HINDUNILVR.NS'),
            (   'Low', 'HINDUNILVR.NS'),
            (  'Open', 'HINDUNILVR.NS'),
            ('Volume', 'HINDUNILVR.NS')],
           names=['Price', 'Ticker'])

In [1]:
tickers = [
    "ADANIENT","ADANIPORTS","APOLLOHOSP","ASIANPAINT","AXISBANK","BAJAJ-AUTO","BAJFINANCE",
    "BAJAJFINSV","BEL","BHARTIARTL","CIPLA","COALINDIA","DRREDDY","EICHERMOT","ETERNAL",
    "GRASIM","HCLTECH","HDFCBANK","HDFCLIFE","HINDUNILVR","HINDALCO","ICICIBANK","INFY",
    "INDIGO","ITC","JIOFIN","JSWSTEEL","KOTAKBANK","LT","M&M","MARUTI","MAXHEALTH",
    "NESTLEIND","NTPC","ONGC","POWERGRID","RELIANCE","SBIN","SBILIFE","SHRIRAMFIN",
    "SUNPHARMA","TATACONSUM","TATAMOTORS","TATASTEEL","TCS","TECHM","TITAN","TRENT",
    "ULTRACEMCO","WIPRO"
]
nse_tickers = [s.strip().upper() + ".NS" if not (s.endswith(".NS") or s.endswith(".BO")) else s for s in tickers]

In [2]:
nse_tickers

['ADANIENT.NS',
 'ADANIPORTS.NS',
 'APOLLOHOSP.NS',
 'ASIANPAINT.NS',
 'AXISBANK.NS',
 'BAJAJ-AUTO.NS',
 'BAJFINANCE.NS',
 'BAJAJFINSV.NS',
 'BEL.NS',
 'BHARTIARTL.NS',
 'CIPLA.NS',
 'COALINDIA.NS',
 'DRREDDY.NS',
 'EICHERMOT.NS',
 'ETERNAL.NS',
 'GRASIM.NS',
 'HCLTECH.NS',
 'HDFCBANK.NS',
 'HDFCLIFE.NS',
 'HINDUNILVR.NS',
 'HINDALCO.NS',
 'ICICIBANK.NS',
 'INFY.NS',
 'INDIGO.NS',
 'ITC.NS',
 'JIOFIN.NS',
 'JSWSTEEL.NS',
 'KOTAKBANK.NS',
 'LT.NS',
 'M&M.NS',
 'MARUTI.NS',
 'MAXHEALTH.NS',
 'NESTLEIND.NS',
 'NTPC.NS',
 'ONGC.NS',
 'POWERGRID.NS',
 'RELIANCE.NS',
 'SBIN.NS',
 'SBILIFE.NS',
 'SHRIRAMFIN.NS',
 'SUNPHARMA.NS',
 'TATACONSUM.NS',
 'TATAMOTORS.NS',
 'TATASTEEL.NS',
 'TCS.NS',
 'TECHM.NS',
 'TITAN.NS',
 'TRENT.NS',
 'ULTRACEMCO.NS',
 'WIPRO.NS']

In [ ]:
# combined_nse_6month.py
import yfinance as yf
import pandas as pd
from tqdm import tqdm
from pathlib import Path
import time

tickers = [
    "ADANIENT","ADANIPORTS","APOLLOHOSP","ASIANPAINT","AXISBANK","BAJAJ-AUTO","BAJFINANCE",
    "BAJAJFINSV","BEL","BHARTIARTL","CIPLA","COALINDIA","DRREDDY","EICHERMOT","ETERNAL",
    "GRASIM","HCLTECH","HDFCBANK","HDFCLIFE","HINDUNILVR","HINDALCO","ICICIBANK","INFY",
    "INDIGO","ITC","JIOFIN","JSWSTEEL","KOTAKBANK","LT","M&M","MARUTI","MAXHEALTH",
    "NESTLEIND","NTPC","ONGC","POWERGRID","RELIANCE","SBIN","SBILIFE","SHRIRAMFIN",
    "SUNPHARMA","TATACONSUM","TATAMOTORS","TATASTEEL","TCS","TECHM","TITAN","TRENT",
    "ULTRACEMCO","WIPRO"
]

OUTPUT_DIR = Path("nse_6month_data")
OUTPUT_DIR.mkdir(exist_ok=True)
OUTFILE = OUTPUT_DIR / "nse_6month_all.csv"

PERIOD = "6mo"
INTERVAL = "1d"
MAX_RETRIES = 3
SLEEP = 1.0  # seconds

def fetch_symbol(symbol):
    ysym = symbol.strip().upper()
    if not (ysym.endswith(".NS") or ysym.endswith(".BO")):
        ysym = ysym + ".NS"
    for attempt in range(1, MAX_RETRIES + 1):
        try:
            df = yf.download(ysym, period=PERIOD, interval=INTERVAL, progress=False)
            if df is None or df.empty:
                print(f"[WARN] No data for {ysym} (attempt {attempt})")
            else:
                # ensure Date is column
                df = df.reset_index()
                # standardize column names
                df = df.rename(columns={
                    "Open":"Open","High":"High","Low":"Low","Close":"Close",
                    "Adj Close":"Adj Close","Volume":"Volume"
                })
                # keep only necessary columns
                cols_keep = ['Date','Open','High','Low','Close','Adj Close','Volume']
                df = df[[c for c in cols_keep if c in df.columns]]
                # add Symbol column (without .NS)
                df['Symbol'] = ysym.replace('.NS','').replace('.BO','')
                return df
        except Exception as e:
            print(f"[ERR] {ysym} attempt {attempt} error: {e}")
        time.sleep(SLEEP * attempt)
    print(f"[SKIP] Skipping {symbol} after {MAX_RETRIES} attempts.")
    return None

def main():
    all_dfs = []
    for sym in tqdm(tickers, desc="Downloading"):
        df = fetch_symbol(sym)
        if df is not None:
            all_dfs.append(df)
    if not all_dfs:
        print("No data collected for any symbol.")
        return

    combined = pd.concat(all_dfs, ignore_index=True)
    # Ensure Date is datetime and sort
    combined['Date'] = pd.to_datetime(combined['Date'])
    combined = combined.sort_values(['Date','Symbol']).reset_index(drop=True)

    # Save long-format CSV
    combined.to_csv(OUTFILE, index=False)
    print(f"\n Saved combined CSV: {OUTFILE.resolve()}")
    print(f"Rows: {len(combined)}, Columns: {list(combined.columns)}")

    # OPTIONAL: also save a pivoted Adjusted Close wide-format file
    try:
        wide = combined.pivot_table(index='Date', columns='Symbol', values='Adj Close')
        wide_file = OUTPUT_DIR / "nse_6month_adjclose_wide.csv"
        wide.to_csv(wide_file)
        print(f" Saved wide Adj Close CSV: {wide_file.resolve()}")
    except Exception as e:
        print(f"[WARN] Could not create wide Adj Close CSV: {e}")

if __name__ == "__main__":
    main()

In [ ]:
import React from 'react';

const stockData = [
  {
    name: 'Cipla',
    day: '+1.49%',
    week: '+6.73%',
    month: '+7.87%',
    performance: ['+.4', '+.3', '+.3', '+.3', -4'],
  },
  {
    name: 'Reliance',
    day: '+0.93%',
    week: '+3.21%',
    month: '+4.56%',
    performance: ['green', 'green', 'red', 'green', 'green'],
  },
  {
    name: 'Infosys',
    day: '-0.72%',
    week: '+1.32%',
    month: '+2.91%',
    performance: ['red', 'green', 'green', 'red', 'green'],
  },
];

const PerformanceCard = ({ name, day, week, month, performance }) => {
  return (
    <div className="bg-white rounded-xl shadow-md p-4 w-64 text-center">
      <div className="bg-[#2f6f89] text-white py-2 rounded-t-md font-semibold text-sm flex justify-between px-3">
        <span>5 Day Performance</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          strokeWidth={2}
          stroke="currentColor"
          className="w-4 h-4 text-white"
        >
          <path strokeLinecap="round" strokeLinejoin="round" d="M6 9l6 6 6-6" />
        </svg>
      </div>
      <div className="flex justify-center gap-2 py-3 bg-white rounded-b-md">
        {performance.map((color, index) => (
          <div
            key={index}
            className={`w-4 h-2 rounded-sm ${
              color === 'green' ? 'bg-green-500' : 'bg-red-500'
            }`}
          ></div>
        ))}
      </div>
      <h2 className="text-blue-600 font-bold text-lg mb-2">{name}</h2>
      <div className="flex justify-between text-left bg-gray-50 rounded-lg p-2">
        <div>
          <span className="text-gray-500 text-sm block">Day:</span>
          <span
            className={`font-semibold text-sm ${day.startsWith('-') ? 'text-red-500' : 'text-green-600'}`}
          >
            {day}
          </span>
        </div>
        <div>
          <span className="text-gray-500 text-sm block">Week:</span>
          <span className="font-semibold text-green-600 text-sm">{week}</span>
        </div>
        <div>
          <span className="text-gray-500 text-sm block">Month:</span>
          <span className="font-semibold text-green-600 text-sm">{month}</span>
        </div>
      </div>
    </div>
  );
};

export default function App() {
  return (
    <div className="flex flex-wrap justify-center gap-6 p-6 bg-gray-100 min-h-screen">
      {stockData.map((stock, index) => (
        <PerformanceCard key={index} {...stock} />
      ))}
    </div>
  );
}

Collecting tqdm
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: colorama in c:\users\deepa\appdata\roaming\python\python311\site-packages (from tqdm) (0.4.6)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: tqdm
Successfully installed tqdm-4.67.1
Note: you may need to restart the kernel to use updated packages.

In [13]:
import React from 'react';

const stockData = [
  {
    name: 'Cipla',
    day: '+1.49%',
    week: '+6.73%',
    month: '+7.87%',
    performance: [1.2, 0.8, 2.3, 1.6, -0.5],
  },
  {
    name: 'Reliance',
    day: '+0.93%',
    week: '+3.21%',
    month: '+4.56%',
    performance: [0.5, 0.9, -0.2, 1.0, 1.3],
  },
  {
    name: 'Infosys',
    day: '-0.72%',
    week: '+1.32%',
    month: '+2.91%',
    performance: [-0.8, 0.4, 0.9, -0.2, 1.1],
  },
];

const PerformanceCard = ({ name, day, week, month, performance }) => {
  return (
    <div className="bg-white rounded-xl shadow-md p-4 w-64 text-center">
      <div className="bg-[#2f6f89] text-white py-2 rounded-t-md font-semibold text-sm flex justify-between px-3">
        <span>5 Day Performance</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          strokeWidth={2}
          stroke="currentColor"
          className="w-4 h-4 text-white"
        >
          <path strokeLinecap="round" strokeLinejoin="round" d="M6 9l6 6 6-6" />
        </svg>
      </div>
      <div className="flex justify-center gap-2 py-3 bg-white rounded-b-md">
        {performance.map((value, index) => (
          <div
            key={index}
            title={`${value.toFixed(2)}%`}
            className={`w-4 h-2 rounded-sm ${value >= 0 ? 'bg-green-500' : 'bg-red-500'}`}
          ></div>
        ))}
      </div>
      <h2 className="text-blue-600 font-bold text-lg mb-2">{name}</h2>
      <div className="flex justify-between text-left bg-gray-50 rounded-lg p-2">
        <div>
          <span className="text-gray-500 text-sm block">Day:</span>
          <span
            className={`font-semibold text-sm ${day.startsWith('-') ? 'text-red-500' : 'text-green-600'}`}
          >
            {day}
          </span>
        </div>
        <div>
          <span className="text-gray-500 text-sm block">Week:</span>
          <span className="font-semibold text-green-600 text-sm">{week}</span>
        </div>
        <div>
          <span className="text-gray-500 text-sm block">Month:</span>
          <span className="font-semibold text-green-600 text-sm">{month}</span>
        </div>
      </div>
    </div>
  );
};

export default function App() {
  return (
    <div className="flex flex-wrap justify-center gap-6 p-6 bg-gray-100 min-h-screen">
      {stockData.map((stock, index) => (
        <PerformanceCard key={index} {...stock} />
      ))}
    </div>
  );
}

SyntaxError: invalid syntax (883094878.py, line 1)

In [51]:
import yfinance as yf
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
# desired single-level columns (yfinance standard)
desired_cols = ['symbol','Close', 'High', 'Low', 'Open', 'Volume']
df_all = pd.DataFrame(columns=desired_cols)
tickers = [
    "ADANIENT",
    "ADANIPORTS",
    "APOLLOHOSP","ASIANPAINT","AXISBANK","BAJAJ-AUTO","BAJFINANCE",
    "BAJAJFINSV","BEL","BHARTIARTL","CIPLA","COALINDIA","DRREDDY","EICHERMOT","ETERNAL",
    "GRASIM","HCLTECH","HDFCBANK","HDFCLIFE","HINDUNILVR","HINDALCO","ICICIBANK","INFY",
    "INDIGO","ITC","JIOFIN","JSWSTEEL","KOTAKBANK","LT","M&M","MARUTI","MAXHEALTH",
    "NESTLEIND","NTPC","ONGC","POWERGRID","RELIANCE","SBIN","SBILIFE","SHRIRAMFIN",
    "SUNPHARMA","TATACONSUM","TATAMOTORS","TATASTEEL","TCS","TECHM","TITAN","TRENT",
    "ULTRACEMCO","WIPRO"
]
start_date = "2024-10-21"
end_date = "2024-10-26"
nse_tickers = [s.strip().upper() + ".NS" if not (s.endswith(".NS") or s.endswith(".BO")) else s for s in tickers]
for symbol in nse_tickers:
    # data = yf.download(symbol, period="1mo")
    data = yf.download(symbol, start=start_date, end=end_date)
    data.columns = ['Close', 'High', 'Low', 'Open', 'Volume']
    data['symbol'] = symbol.replace('.NS','').replace('.BO','')
    df_all = pd.concat([df_all, data], axis=0, ignore_index=False)
df_all = df_all.sort_index().reset_index()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [52]:
df_all['1d_change'] =(( df_all['Close']-df_all['Open'])/df_all['Close'])*100
df_all['1d_change'] = df_all['1d_change'].round(2)

In [36]:
df_all=[df_all[['symbol','1d_chnge']].reset_index(drop=True)]

In [54]:
summary_df = (
    df_all.groupby('symbol')['1d_change']
    .apply(lambda x: list(x.tail(5)))
    .reset_index(name='5Day Change')
)

In [56]:
summary_df

        symbol                          5Day Change
0     ADANIENT   [-2.3, -4.04, -0.19, -0.38, -5.63]
1   ADANIPORTS    [-2.5, -0.87, -1.67, 0.69, -3.13]
2   APOLLOHOSP      [0.2, -1.86, 0.31, 0.24, -0.13]
3   ASIANPAINT    [1.38, -1.57, -0.34, -0.6, -0.59]
4     AXISBANK      [-0.55, -1.57, -1.27, 0.2, 0.2]
5   BAJAJ-AUTO    [4.17, -1.27, 2.07, -1.96, -0.92]
6   BAJAJFINSV     [-3.62, -2.09, 0.7, 0.12, -2.03]
7   BAJFINANCE     [-1.89, -1.83, 5.58, 0.4, -1.89]
8          BEL     [-1.42, -3.81, -0.87, 0.87, 0.5]
9   BHARTIARTL   [-0.77, 0.01, -0.25, -0.51, -0.91]
10       CIPLA  [-1.85, -0.84, -1.29, -0.25, -0.23]
11   COALINDIA    [-1.36, -3.56, 1.21, 0.66, -3.69]
12     DRREDDY  [-1.08, -0.97, -0.78, -0.93, -0.85]
13   EICHERMOT    [0.94, -1.08, -0.96, 0.07, -1.27]
14     ETERNAL     [2.9, -4.15, 2.92, -5.07, -0.87]
15      GRASIM   [-1.54, -2.36, -0.64, 0.82, -1.91]
16     HCLTECH   [-1.72, -0.39, 2.83, -0.01, -0.41]
17    HDFCBANK      [0.79, -0.9, 1.77, 0.66, -0.67]
18    HDFCLIFE   [-0.4, -2.42, -0.17, -1.42, -1.21]
19    HINDALCO   [-2.76, -1.77, 0.15, -3.52, -2.32]
20  HINDUNILVR     [-0.8, -0.13, 1.44, -5.66, 1.02]
21   ICICIBANK      [-0.43, 0.07, -0.75, 0.2, 0.65]
22      INDIGO     [-2.4, -1.56, 0.45, -0.7, -4.12]
23        INFY      [-2.07, -0.36, 1.5, 0.1, -0.08]
24         ITC   [-0.63, -0.38, -0.14, -2.18, 1.35]
25      JIOFIN    [-2.2, -4.44, -0.49, 0.35, -2.02]
26    JSWSTEEL    [-1.58, -1.8, -0.96, 0.38, -1.51]
27   KOTAKBANK     [-3.4, -1.63, 0.38, -0.22, 0.22]
28          LT   [0.16, -2.08, -1.32, -0.04, -2.96]
29         M&M    [1.28, -4.08, -2.96, 2.24, -3.83]
30      MARUTI     [0.25, -2.45, 0.28, -2.0, -2.27]
31   MAXHEALTH      [1.19, -3.77, 1.66, 0.35, 3.71]
32   NESTLEIND  [-0.23, -0.18, -0.98, -3.56, -0.37]
33        NTPC     [-0.25, -1.71, -1.4, 0.64, -0.9]
34        ONGC   [-1.64, -2.66, 0.31, -1.04, -2.25]
35   POWERGRID    [-0.56, -3.14, -0.73, 1.22, -1.8]
36    RELIANCE     [0.15, -1.92, 0.08, 0.34, -1.18]
37     SBILIFE   [-0.19, -0.17, 0.75, -5.45, -1.74]
38        SBIN   [-1.32, -2.99, -0.51, 1.07, -2.18]
39  SHRIRAMFIN    [-1.32, -1.81, -0.07, 1.7, -5.23]
40   SUNPHARMA    [-1.15, -0.24, -2.21, 1.02, 0.19]
41  TATACONSUM   [-2.94, -2.51, 1.43, -2.16, -2.45]
42  TATAMOTORS    [-0.97, -2.9, -0.15, 0.54, -2.27]
43   TATASTEEL   [-0.69, -3.0, -1.02, -0.34, -2.15]
44         TCS     [-1.29, -1.26, 1.64, 1.08, 0.01]
45       TECHM     [-2.57, -0.4, 2.27, 0.04, -1.12]
46       TITAN     [-1.63, -1.35, -1.26, 0.9, -2.0]
47       TRENT    [-2.81, -1.84, 0.58, -1.08, -1.2]
48  ULTRACEMCO    [-1.66, 0.68, -0.64, 2.63, -0.62]
49       WIPRO   [-0.64, -0.8, -0.05, -0.05, -1.16]

In [ ]:
df_nfty50=pd.read_csv(r"C:\Users\deepa\Downloads\nifty-50.csv")