In [ ]:
import yfinance as yf
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
# desired single-level columns (yfinance standard)
desired_cols = ['symbol','Close', 'High', 'Low', 'Open', 'Volume']
df_all = pd.DataFrame(columns=desired_cols)
tickers = [
    "ADANIENT",
    # "ADANIPORTS",
    # "APOLLOHOSP","ASIANPAINT","AXISBANK","BAJAJ-AUTO","BAJFINANCE",
    # "BAJAJFINSV","BEL","BHARTIARTL","CIPLA","COALINDIA","DRREDDY","EICHERMOT","ETERNAL",
    # "GRASIM","HCLTECH","HDFCBANK","HDFCLIFE","HINDUNILVR","HINDALCO","ICICIBANK","INFY",
    # "INDIGO","ITC","JIOFIN","JSWSTEEL","KOTAKBANK","LT","M&M","MARUTI","MAXHEALTH",
    # "NESTLEIND","NTPC","ONGC","POWERGRID","RELIANCE","SBIN","SBILIFE","SHRIRAMFIN",
    # "SUNPHARMA","TATACONSUM","TATAMOTORS","TATASTEEL","TCS","TECHM","TITAN","TRENT",
    # "ULTRACEMCO","WIPRO"
]
start_date = "2025-04-25"
end_date = "2025-10-25"
nse_tickers = [s.strip().upper() + ".NS" if not (s.endswith(".NS") or s.endswith(".BO")) else s for s in tickers]
for symbol in nse_tickers:
    # data = yf.download(symbol, period="1mo")
    data = yf.download(symbol, start=start_date, end=end_date)
    data.columns = ['Close', 'High', 'Low', 'Open', 'Volume']
    data['symbol'] = symbol.replace('.NS','').replace('.BO','')
    df_all = pd.concat([df_all, data], axis=0, ignore_index=False)
df_all = df_all.sort_index().reset_index()

[*********************100%***********************]  1 of 1 completed

In [31]:
df_all.shape

(125, 7)

In [32]:
df_all['1day_change'] =(( df_all['Close']-df_all['Open'])/df_all['Close'])*100
df_all['1day_change'] = df_all['1day_change'].round(2)

In [33]:
df_all.columns

Index(['index', 'symbol', 'Close', 'High', 'Low', 'Open', 'Volume',
       '1day_change'],
      dtype='object')

In [34]:
df_all

,index,symbol,Close,High,Low,Open,Volume,1day_change
0,2024-04-25,ADANIENT,3112.402832,3118.047571,3022.884624,3047.212467,1515529,2.09
1,2024-04-26,ADANIENT,3077.584473,3127.039231,3063.247735,3117.048370,662764,-1.28
2,2024-04-29,ADANIENT,3078.383789,3107.657058,3048.710983,3107.157515,648544,-0.93
3,2024-04-30,ADANIENT,3051.908203,3105.609080,3042.217117,3091.172335,804552,-1.29
4,2024-05-02,ADANIENT,3036.822021,3116.998676,3012.294410,3069.142308,2219085,-1.06
...,...,...,...,...,...,...,...,...
120,2024-10-18,ADANIENT,3000.465820,3030.150593,2966.583243,2988.471953,796339,0.40
121,2024-10-21,ADANIENT,2936.148682,3013.409228,2915.459309,3003.614187,1051690,-2.30
122,2024-10-22,ADANIENT,2822.356934,2953.489834,2816.559849,2936.498522,1209732,-4.04
123,2024-10-23,ADANIENT,2834.100830,2877.528574,2818.658775,2839.398170,1270530,-0.19
124,2024-10-24,ADANIENT,2828.753662,2873.680643,2806.465009,2839.598215,942066,-0.38

In [35]:
df_all[(df_all['index']=='2025-10-24') & (df_all['symbol']=='ADANIENT')][['index','symbol', 'Close', 'Open', '1day_change']]

Empty DataFrame
Columns: [index, symbol, Close, Open, 1day_change]
Index: []